#main {
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-family: bungee inline;
}

#city {
    font-family: pacifico;
    font-size: 40px;
    font-style: bold;
   
}

#day {
    font-size: 20px;
    font-family: pacifico;
}

#forecast {
    font-size: 20px;
    font-family: pacifico;
}

img {
    height: 80px;
    width: 80px;
    margin-top: -25px;
    display: inline-block;
}

#stat {
    margin-top: 0px;
    background-color: lightgrey;
    border-radius: 5px
}

i {
    font-size: 20px;
    cursor: pointer
}

#t {
    font-size: 80px;
    font-family: shadows into light;
}

sup {
    font-size: 80px;
    font-family: shadows into light;
}

#cel:hover,
#cel:focus,
#cel:active {
    color: white;
}

#far:hover {
    color: white;
}

#icon {
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 5px
}

#statx {
    margin-top: 10px;
    padding-bottom: 29px;
    background-color: lightgrey;
    border-left: 1px solid rgb(0, 0, 0);
    font-family: orbitron;
    font-size: 20px;
    height:114px;
    border-radius: 5px
}

body {
    background-color: grey
}

h1,
.wi {
    font-size: 70px;
}

li{
    background:grey;
    margin-top:5px;
    color:white;
    list-style:none;
    margin-right:-12px;
    margin-left:-54px;
    border-radius: 5px
}

ul{
  
}